/*************************************
*********** Table of Contents ********
**************************************
	
	0.1 - General Styles
	1.0 - Navigation
 	2.0 - Hero Header 
	2.5 - Page Header
	3.0 - Platform Statistics
	4.0 - About 
	5.0 - Feature 
	6.0 - Services 
	7.0 - CTA  
	8.0 - Platform Demo 
	9.0 - Video Modal  
	10.0 - Site Footer  
	11.0 - Media Queries 

*************************************/ 

// Variables
$base:		 #fab815;
$red-accent: #ff3939;
$white: 	 #fff;
$dark: 	 #000;
$dark-10: lighten(#000, 10%);
$dark-15: lighten(#000, 15%);
$dark-20: lighten(#000, 20%);
$dark-22: lighten(#000, 22%);
$dark-25: lighten(#000, 25%);
$dark-30: lighten(#000, 30%);
$dark-40: lighten(#000, 40%);
$dark-50: lighten(#000, 50%);
$dark-60: lighten(#000, 60%);
$dark-70: lighten(#000, 70%);
$dark-80: lighten(#000, 80%);
$dark-90: lighten(#000, 90%);
$dark-92: lighten(#000, 92%);
$dark-95: lighten(#000, 95%);
$dark-100: lighten(#000, 100%); // White

/* 	0.1 - General Styles */ 
body {
	color: $dark;
	font-family: 'Montserrat', sans-serif;
}

a, a:hover, a:focus {
	text-decoration: none;
	outline: 0;
	background: none;
	box-shadow: none;
}

p {
	font-size: 14px;
	line-height: 18px;
	font-weight: 300;
}

.colored-text { color: $base; }

button {
	border: none;
}

.text-left	{ text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }


.btn {
	display: inline-block;
	height: 33px;
	line-height: 33px;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 10px;
	border-radius: 20px;
	-o-transition: all .2s;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
	img {
		margin-right: 4px;
	}
}

.btn-solid {
	color: $white;
	font-weight: 600;
	background: $base;
	&:hover {
		background: darken( $base, 10% );
	}
	&.btn-solid-red {
		background: $red-accent;
		&:hover {
			background: lighten( $red-accent, 4% );
		}
	}
}


.btn-outline {
	color: white;
	border: 2px solid $base;
	line-height: 30px;
	&:hover {
		color: $white;
		background: $base;
	}
}

/* 1.0 - Navigation */ 
.navbar {
	background: $dark;
	margin: 0;
	.nav-header {
		width: 100%;
	}
	.navbar-toggle {
		display: block;
		margin-right: 0;
		.icon-bar {
			width: 20px;
			height: 4px;
			background: $white;
		}
	}
	.navbar-logo {
		display: block;
		max-width: 160px;
		padding: 10px 0;
		margin: 0;
	}
	.nav-menu {
		width: 100%;
		display: none;
	}
	.menu {
		padding: 20px 0;
		float: none;
		ul {
			padding: 0;
			margin: 0;
			display: block;
			list-style-type: none;
			list-style: none;
			li {
				a {
					text-transform: uppercase;
					font-weight: 400;
					color: $white;
					padding: 10px 0;
					display: block;
					&:hover {
						color: $base;
					}
				}
				&.active a {
					color: $base;
				}
			}
		}
		.btn {
			margin-top: 10px;
		}
	}
}

/* 2.0 - Hero Header */
.hero-header {	
	background-repeat: none;
	background-size: cover;
	h1 {
		color: $white;
		font-size: 24px;
		line-height: 34px;
		margin: 0 0 20px;
		font-weight: 400;
		span {
			font-weight: 600;
		}
	}
	&.home {
		padding: 280px 0 224px;
		background-position: right center;
		background-image: url("../img/header-home.jpg");
	}
	&.bitcoin {
		padding: 444px 0 60px;
		background-position: center center;
		background-image: url("../img/header-bitcoin.jpg");
	}
	&.etherum {
		padding: 270px 0 200px;
		background-position: right center;
		background-image: url("../img/header-etherum.jpg");
		img {
			display: block;
			width: 80%;
			margin: 0 auto;
		}
	}
	&.litecoin {
		padding: 270px 0 200px;
		background-position: right center;
		background-image: url("../img/header-litecoin.jpg");
		img {
			display: block;
			width: 80%;
			margin: 0 auto;
		}
	}
} 

/* 2.5 - Page Header */
.page-header {
	background-repeat: none;
	background-size: cover;
    padding: 129px 0 90px;
	background-position: right center;
	background-image: url("../img/page-header.jpg");
	h1 {
		font-size: 24px;
		line-height: 24px;
		color: $white;
		margin: 0;
	}
} 

/* 3.0 - Platform Statistics */
.platform-statistic {
	padding: 40px 0;
	background: lighten( $dark-92, 1%);
	.info {
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #2e3192;
		h2 {
			font-size: 16px;
			line-height: 16px;
			text-transform: uppercase;
			margin-top: 0;
			margin-bottom: 16px;
		}
		.data {
			font-weight: 100;
			font-size: 35px;
			line-height: 35px;
		}
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: none;
		}
	}
} 

/* 4.0 - About */ 
.about {
	padding: 75px 0;
	.about-text {
		h2 {
			margin-top: 0;
			margin-bottom: 20px;
			font-size: 24px;
			line-height: 34px;

		}
	}
	.features {
		margin-top: 35px;
	}
}

/* 5.0 - Feature */
.feature {
	margin: 0 -15px 30px;
	min-width: 100%;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 30px;
	border-bottom: 1px solid darken( $dark-60, 2% );
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	h2 {
		font-size: 16px;
		line-height: 16px;
		font-weight: 400;
		margin-bottom: 0;
	}
}

/* 6.0 - Services */
.platform-services {
	position: relative;
	img.btc-icon {
		width: 127px;
		height: 127px;
		position: absolute;
		z-index: 10;
		display: none;
	}
	.service-wrapper {
		background-size: cover;
		background-repeat: none;
		&::before, &::after {
			content: '';
			display: table;
		}
		&::after {
			clear: both;
		}
		&:first-child {
			background-color: $dark;
			background-image: url("../img/stock-bg-1.png");
			background-position: left top;
		}
		&:last-child {
			background-color: $base ;
			background-image: url("../img/stock-bg-2.png");
			background-position: right top;
		}
	}
	.service {
		padding: 60px 0;
		max-height: auto;
		max-width: 750px;
		margin: 0 auto;
		h2 {
			margin-top: 0;
		}
		&.left {
			color: $white;
		}
		&.right {
			color: $dark;
		}
	}
} 

/* 7.0 - CTA */ 
.cta {
	padding: 80px 0 60px;
	background-repeat: no-repeat;
	background-position: right 15%;
	p {
		width: 100%;
		margin: 0 auto 30px;
	}
	.btn {
		color: $dark;
		&:hover {
			color: $white;
		}
	}
}
 
.text-block-big {
	padding: 60px 0 90px;
	h2 {
		font-size: 34px;
		line-height: 44px;
		margin-top: 0px;
		font-weight: 400;
	}
}

/* 8.0 - Platform Demo */
.platform-demo {
	padding: 80px 0 50px;
	.video-holder {
		width: 100%;
		margin: 60px auto 0;
		position: relative;
	  	box-shadow: 0px 7px 51.33px 7.67px rgba(11, 11, 12, 0.35);
	  	.overlay {
	  		position: absolute;
	  		top: 0;
	  		bottom: 0;
	  		left: 0;
	  		right: 0;
			background: rgba( 0, 0, 0, 0.57);
	  		.play-btn {
	  			position: absolute;
	  			left: 50%;
	  			margin-left: -61px;
	  			top: 50%;
	  			margin-top: -46px;
	  			span {
	  				display: block;
	  				font-size: 16px;
	  				line-height: 16px;
	  				color: $base;
	  				text-transform: uppercase;
	  				font-weight: 600;
	  				margin-top: 22px;
	  			}
	  		}
	  	}
		& > img {
			width: 100%;
		}
	}
} 

/* 9.0 - Video Modal */ 
.video-modal-wrapper {
	display: none; 
    position: fixed;
    z-index: 99999; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
    &.video-modal-open {
    	display: block;
    }
    .video-modal {
    	position: relative;
    	max-width: 768px;
    	margin: 0 auto;
    	background: $white;
    	padding: 35px 25px 25px ;
	  	box-shadow: 0px 7px 51.33px 7.67px rgba(11, 11, 12, 0.35);
    	.close {
    		position: absolute;
    		right: 5px;
			top: 0px;
			font-size: 18px;
			line-height: 18px;
			font-weight: 400;
			background: none;
			padding: 5px;
			color: $dark-50;
			&:hover {
				color: $dark-30;
			}
    	}
    	.video {
			height: 400px;
    	}
    	iframe {
    		width: 100%;
    		height: 100%;
    		border: none;
    	}
    }
}

/* 10.0 - Site Footer */ 
.site-footer {
	background: $dark;
	padding: 45px 0;
	text-align: center;
	.footer-logo {
		display: inline-block;
		margin-bottom: 40px;
	}
	.footer-menu {
		ul {
			display: block;
			margin: 0;
			padding: 0;
			li {
				display: block;
				a {
					text-transform: uppercase;
					font-weight: 400;
					color: $white;
					padding: 5px 0;
					margin: 0;
					display: block;
					-o-transition: all .2s;
					-webkit-transition: all .2s;
					-moz-transition: all .2s;
					transition: all .2s;
					&:hover {
						color: $base;
					}
				}
			}
		}
		.btn {
			margin-top: 10px;
		}
	}
	.copyright {
		p {
			font-size: 11px;
			font-weight: 300;
			margin: 35px 0 0;
			color: $white;
			a {
				color: $base;
			}
		}
	}
}

/* 11.0 - Media Queries */
@media (min-width: 768px) { 

	.hero-header {
		h1 { 
			font-size: 34px;
			line-height: 44px;
		}
	}

	.page-header {
		padding: 179px 0 102px;
		h1 {
			font-size: 34px;
			line-height: 34px;
		}
	} 

	/* About */ 
	.about {
		.about-text {
			h2 {
				font-size: 34px;
				line-height: 44px;
			}
		}
	}

	/* Features */
	.feature {
		float: left;
		min-width: 50%;
		margin: 0;
		&:nth-child(1),
		&:nth-child(2) {	
			border-bottom: 1px solid darken( $dark-60, 2% );
			padding-bottom: 30px;
		}
		&:nth-child(1),
		&:nth-child(3) {
			border-right: 1px solid darken( $dark-60, 2% );
		}
		&:nth-child(3),
		&:nth-child(4) {
			border-bottom: 0;
			padding: 30px 0 0;
		}
	}

	/* Platform Statistics */
	.platform-statistic {
		.info {
			border-right: 1px solid #2e3192;
			border-bottom: none;
			margin-bottom: 0;
			padding: 0;
			&:last-child, &:nth-child(2) {
				border-right: none;
			}
		}
	} 

	/* Footer */
	.site-footer {
		.footer-menu {
			ul {
				display: inline-block;
				margin: 0;
				li {
					display: inline-block;
					a {
						margin: 0 15px;
					}
				}
			}
		}
		.btn {
			margin-top: 0;
			margin-left: 15px;
		}
	} 

}

@media (min-width: 992px) {
	.navbar {
		background: none;
		.nav-header {
			width: 25%;
			float: left;
		}
		.navbar-toggle {
			display: none;
		}
		.navbar-logo {
			display: block;
			height: auto;
			padding: 26px 0;
			-o-transition: all .2s;
			-webkit-transition: all .2s;
			-moz-transition: all .2s;
			transition: all .2s;
		}
		.nav-menu {
			width: 75%;
			float: left;
			display: block;
			.menu {
				float: right;
				padding: 0;
				ul {
					display: inline-block;
					li {
						display: inline-block;
						&.active a:before {
							width: 100%;
						}
						a {
							padding: 48px 0 23px;
							margin: 0 20px;
							position: relative;
							-o-transition: all .2s;
			   				-webkit-transition: all .2s;
			  				-moz-transition: all .2s;
			    			transition: all .2s;
							&:before {
								position: absolute;
								content: '';
								bottom: -1px;
								left: 0;
								width: 0%;
								height: 4px;
								background: $base; 
							}
							&:hover, {
								&:before {
									-o-transition: all .2s;
					   				-webkit-transition: all .2s;
					  				-moz-transition: all .2s;
					    			transition: all .2s;
									width: 100%;
								}
							}
						}
					}
				}
				.btn {
					margin-top: 0;
					margin-left: 20px;
				}
			}
		}
		&.scroll {
			background: $dark;
			.navbar-logo {
				padding: 10px 0;
			}
			.menu {
				ul {
					li {
						a {
							padding: 22px 0;
						}
					}
				}
			}
		}
	} 

	.hero-header {
		h1 { 
			font-size: 54px;
			line-height: 64px;
		}
		&.etherum {
			h1 {
				margin-top: -10px;
				font-size: 34px;
				line-height: 34px;
			}
			img {
				width: auto;
			}
		}
	}
	
	.page-header {
		h1 {
			font-size: 54px;
			line-height: 54px;
		}
	} 

	/* Platform Statistics */
	.platform-statistic {
		.info {
			&:nth-child(2) {
				border-right: 1px solid #2e3192;
			}
		}
	} 
	
	/* Platform Services */ 
	.platform-services {
		img.btc-icon {
			display: block;
			left: 50%;
			margin-left: -63.5px;
			top: 50%;
			margin-top: -63.5px;
		}
		.service {
			max-width: 555px;
			min-height: 250px;
			max-height: 250px;
			&.left {
				float: right;
				padding-right: 105px;
			}
			&.right {
				float: left;
				padding-left: 105px;
			}
		}
	}
	
	/*  Platform Demo */
	.platform-demo {
		.video-holder {
			width: 98%;
			margin: 0 auto;
		}
		.features {
			margin: 25px 0 0;
		} 
	}

	/* CTA */
	.cta {
		background-image: url('../img/big-logo.png');
		p {
			width: 60%;
		} 
	} 
}

