/*************************************
*********** Table of Contents ********
**************************************

	0.1 - General Styles
	1.0 - Navigation
 	2.0 - Hero Header
	2.5 - Page Header
	3.0 - Platform Statistics
	4.0 - About
	5.0 - Feature
	6.0 - Services
	7.0 - CTA
	8.0 - Platform Demo
	9.0 - Video Modal
	10.0 - Site Footer
	11.0 - Media Queries

*************************************/
/* 	0.1 - General Styles */
body {
  color: #000;
  font-family: 'Montserrat', sans-serif; }

a, a:hover, a:focus {
  text-decoration: none;
  outline: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300; }

.colored-text {
  color: #fab815; }

button {
  border: none; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.btn {
  display: inline-block;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 10px;
  border-radius: 20px;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s; }
  .btn img {
    margin-right: 4px; }

.btn-solid {
  color: #fff;
  font-weight: 600;
  background: #fab815; }
  .btn-solid:hover {
    background: #d79b05; }
  .btn-solid.btn-solid-red {
    background: #ff3939; }
    .btn-solid.btn-solid-red:hover {
      background: #ff4d4d; }

.btn-outline {
  color: white;
  border: 2px solid #fab815;
  line-height: 30px; }
  .btn-outline:hover {
    color: #fff;
    background: #fab815; }

/* 1.0 - Navigation */
.navbar {
  background: #000;
  margin: 0; }
  .navbar .nav-header {
    width: 100%; }
  .navbar .navbar-toggle {
    display: block;
    margin-right: 0; }
    .navbar .navbar-toggle .icon-bar {
      width: 20px;
      height: 4px;
      background: #fff; }
  .navbar .navbar-logo {
    display: block;
    max-width: 160px;
    padding: 10px 0;
    margin: 0; }
  .navbar .nav-menu {
    width: 100%;
    display: none; }
  .navbar .menu {
    padding: 20px 0;
    float: none; }
    .navbar .menu ul {
      padding: 0;
      margin: 0;
      display: block;
      list-style-type: none;
      list-style: none; }
      .navbar .menu ul li a {
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        padding: 10px 0;
        display: block; }
        .navbar .menu ul li a:hover {
          color: #fab815; }
      .navbar .menu ul li.active a {
        color: #fab815; }
    .navbar .menu .btn {
      margin-top: 10px; }

/* 2.0 - Hero Header */
.hero-header {
  background-repeat: none;
  background-size: cover; }
  .hero-header h1 {
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 20px;
    font-weight: 400; }
    .hero-header h1 span {
      font-weight: 600; }
  .hero-header.home {
    padding: 280px 0 224px;
    background-position: right center;
    background-image: url("../img/header-home.jpg"); }
  .hero-header.bitcoin {
    padding: 444px 0 60px;
    background-position: center center;
    background-image: url("../img/header-bitcoin.jpg"); }
  .hero-header.etherum {
    padding: 270px 0 200px;
    background-position: right center;
    background-image: url("../img/header-etherum.jpg"); }
    .hero-header.etherum img {
      display: block;
      width: 80%;
      margin: 0 auto; }
  .hero-header.litecoin {
    padding: 270px 0 200px;
    background-position: right center;
    background-image: url("../img/header-litecoin.jpg"); }
    .hero-header.litecoin img {
      display: block;
      width: 80%;
      margin: 0 auto; }

/* 2.5 - Page Header */
.page-header {
  background-repeat: none;
  background-size: cover;
  padding: 129px 0 90px;
  background-position: right center;
  background-image: url("../img/page-header.jpg"); }
  .page-header h1 {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin: 0; }

/* 3.0 - Platform Statistics */
.platform-statistic {
  padding: 40px 0;
  background: #ededed; }
  .platform-statistic .info {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #2e3192; }
    .platform-statistic .info h2 {
      font-size: 16px;
      line-height: 16px;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 16px; }
    .platform-statistic .info .data {
      font-weight: 100;
      font-size: 35px;
      line-height: 35px; }
    .platform-statistic .info:last-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none; }

/* 4.0 - About */
.about {
  padding: 75px 0; }
  .about .about-text h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 34px; }
  .about .features {
    margin-top: 35px; }

/* 5.0 - Feature */
.feature {
  margin: 0 -15px 30px;
  min-width: 100%;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
  border-bottom: 1px solid #949494; }
  .feature:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0; }
  .feature h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 0; }

/* 6.0 - Services */
.platform-services {
  position: relative; }
  .platform-services img.btc-icon {
    width: 127px;
    height: 127px;
    position: absolute;
    z-index: 10;
    display: none; }
  .platform-services .service-wrapper {
    background-size: cover;
    background-repeat: none; }
    .platform-services .service-wrapper::before, .platform-services .service-wrapper::after {
      content: '';
      display: table; }
    .platform-services .service-wrapper::after {
      clear: both; }
    .platform-services .service-wrapper:first-child {
      background-color: #000;
      background-image: url("../img/stock-bg-1.png");
      background-position: left top; }
    .platform-services .service-wrapper:last-child {
      background-color: #fab815;
      background-image: url("../img/stock-bg-2.png");
      background-position: right top; }
  .platform-services .service {
    padding: 60px 0;
    max-height: auto;
    max-width: 750px;
    margin: 0 auto; }
    .platform-services .service h2 {
      margin-top: 0; }
    .platform-services .service.left {
      color: #fff; }
    .platform-services .service.right {
      color: #000; }

/* 7.0 - CTA */
.cta {
  padding: 80px 0 60px;
  background-repeat: no-repeat;
  background-position: right 15%; }
  .cta p {
    width: 100%;
    margin: 0 auto 30px; }
  .cta .btn {
    color: #000; }
    .cta .btn:hover {
      color: #fff; }

.text-block-big {
  padding: 60px 0 90px; }
  .text-block-big h2 {
    font-size: 34px;
    line-height: 44px;
    margin-top: 0px;
    font-weight: 400; }

/* 8.0 - Platform Demo */
.platform-demo {
  padding: 80px 0 50px; }
  .platform-demo .video-holder {
    width: 100%;
    margin: 60px auto 0;
    position: relative;
    -webkit-box-shadow: 0px 7px 51.33px 7.67px rgba(11, 11, 12, 0.35);
    box-shadow: 0px 7px 51.33px 7.67px rgba(11, 11, 12, 0.35); }
    .platform-demo .video-holder .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.57); }
      .platform-demo .video-holder .overlay .play-btn {
        position: absolute;
        left: 50%;
        margin-left: -61px;
        top: 50%;
        margin-top: -46px; }
        .platform-demo .video-holder .overlay .play-btn span {
          display: block;
          font-size: 16px;
          line-height: 16px;
          color: #fab815;
          text-transform: uppercase;
          font-weight: 600;
          margin-top: 22px; }
    .platform-demo .video-holder > img {
      width: 100%; }

/* 9.0 - Video Modal */
.video-modal-wrapper {
  display: none;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px; }
  .video-modal-wrapper.video-modal-open {
    display: block; }
  .video-modal-wrapper .video-modal {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    background: #fff;
    padding: 35px 25px 25px;
    -webkit-box-shadow: 0px 7px 51.33px 7.67px rgba(11, 11, 12, 0.35);
    box-shadow: 0px 7px 51.33px 7.67px rgba(11, 11, 12, 0.35); }
    .video-modal-wrapper .video-modal .close {
      position: absolute;
      right: 5px;
      top: 0px;
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      background: none;
      padding: 5px;
      color: gray; }
      .video-modal-wrapper .video-modal .close:hover {
        color: #4d4d4d; }
    .video-modal-wrapper .video-modal .video {
      height: 400px; }
    .video-modal-wrapper .video-modal iframe {
      width: 100%;
      height: 100%;
      border: none; }

/* 10.0 - Site Footer */
.site-footer {
  background: #000;
  padding: 45px 0;
  text-align: center; }
  .site-footer .footer-logo {
    display: inline-block;
    margin-bottom: 40px; }
  .site-footer .footer-menu ul {
    display: block;
    margin: 0;
    padding: 0; }
    .site-footer .footer-menu ul li {
      display: block; }
      .site-footer .footer-menu ul li a {
        text-transform: uppercase;
        font-weight: 400;
        color: #fff;
        padding: 5px 0;
        margin: 0;
        display: block;
        -o-transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s; }
        .site-footer .footer-menu ul li a:hover {
          color: #fab815; }
  .site-footer .footer-menu .btn {
    margin-top: 10px; }
  .site-footer .copyright p {
    font-size: 11px;
    font-weight: 300;
    margin: 35px 0 0;
    color: #fff; }
    .site-footer .copyright p a {
      color: #fab815; }

/* 11.0 - Media Queries */
@media (min-width: 768px) {
  .hero-header h1 {
    font-size: 34px;
    line-height: 44px; }
  .page-header {
    padding: 179px 0 102px; }
    .page-header h1 {
      font-size: 34px;
      line-height: 34px; }
  /* About */
  .about .about-text h2 {
    font-size: 34px;
    line-height: 44px; }
  /* Features */
  .feature {
    float: left;
    min-width: 50%;
    margin: 0; }
    .feature:nth-child(1), .feature:nth-child(2) {
      border-bottom: 1px solid #949494;
      padding-bottom: 30px; }
    .feature:nth-child(1), .feature:nth-child(3) {
      border-right: 1px solid #949494; }
    .feature:nth-child(3), .feature:nth-child(4) {
      border-bottom: 0;
      padding: 30px 0 0; }
  /* Platform Statistics */
  .platform-statistic .info {
    border-right: 1px solid #2e3192;
    border-bottom: none;
    margin-bottom: 0;
    padding: 0; }
    .platform-statistic .info:last-child, .platform-statistic .info:nth-child(2) {
      border-right: none; }
  /* Footer */
  .site-footer .footer-menu ul {
    display: inline-block;
    margin: 0; }
    .site-footer .footer-menu ul li {
      display: inline-block; }
      .site-footer .footer-menu ul li a {
        margin: 0 15px; }
  .site-footer .btn {
    margin-top: 0;
    margin-left: 15px; } }

@media (min-width: 992px) {
  .navbar {
    background: none; }
    .navbar .nav-header {
      width: 25%;
      float: left; }
    .navbar .navbar-toggle {
      display: none; }
    .navbar .navbar-logo {
      display: block;
      height: auto;
      padding: 26px 0;
      -o-transition: all .2s;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s; }
    .navbar .nav-menu {
      width: 75%;
      float: left;
      display: block; }
      .navbar .nav-menu .menu {
        float: right;
        padding: 0; }
        .navbar .nav-menu .menu ul {
          display: inline-block; }
          .navbar .nav-menu .menu ul li {
            display: inline-block; }
            .navbar .nav-menu .menu ul li.active a:before {
              width: 100%; }
            .navbar .nav-menu .menu ul li a {
              padding: 48px 0 23px;
              margin: 0 20px;
              position: relative;
              -o-transition: all .2s;
              -webkit-transition: all .2s;
              -moz-transition: all .2s;
              transition: all .2s; }
              .navbar .nav-menu .menu ul li a:before {
                position: absolute;
                content: '';
                bottom: -1px;
                left: 0;
                width: 0%;
                height: 4px;
                background: #fab815; }
              .navbar .nav-menu .menu ul li a:hover:before {
                -o-transition: all .2s;
                -webkit-transition: all .2s;
                -moz-transition: all .2s;
                transition: all .2s;
                width: 100%; }
        .navbar .nav-menu .menu .btn {
          margin-top: 0;
          margin-left: 20px; }
    .navbar.scroll {
      background: #000; }
      .navbar.scroll .navbar-logo {
        padding: 10px 0; }
      .navbar.scroll .menu ul li a {
        padding: 22px 0; }
  .hero-header h1 {
    font-size: 54px;
    line-height: 64px; }
  .hero-header.etherum h1 {
    margin-top: -10px;
    font-size: 34px;
    line-height: 34px; }
  .hero-header.etherum img {
    width: auto; }
  .page-header h1 {
    font-size: 54px;
    line-height: 54px; }
  /* Platform Statistics */
  .platform-statistic .info:nth-child(2) {
    border-right: 1px solid #2e3192; }
  /* Platform Services */
  .platform-services img.btc-icon {
    display: block;
    left: 50%;
    margin-left: -63.5px;
    top: 50%;
    margin-top: -63.5px; }
  .platform-services .service {
    max-width: 555px;
    min-height: 250px;
    max-height: 250px; }
    .platform-services .service.left {
      float: right;
      padding-right: 105px; }
    .platform-services .service.right {
      float: left;
      padding-left: 105px; }
  /*  Platform Demo */
  .platform-demo .video-holder {
    width: 98%;
    margin: 0 auto; }
  .platform-demo .features {
    margin: 25px 0 0; }
  /* CTA */
  .cta {
    background-image: url("../img/big-logo.png"); }
    .cta p {
      width: 60%; } }

.navbar .menu ul li.active a {
  color: #fff; }

.navbar .nav-menu .menu ul li a:before {
  background: #7680B5; }

.navbar .menu ul li a:hover {
  color: #B4962C; }

.navbar.scroll {
  background-color: #2E3468; }

.btn-outline {
  border: 2px solid #7680B5; }

.btn-outline:hover {
  color: #fff;
  background: #7680B5; }

.intro-heading-span {
  color: #CBD8F9 !important;
  text-shadow: 1px 1px 8px #CBD8F9; }

.colored-text {
  color: #3357EE; }

.btcwdgt-chart .btcwdgt-header {
  background-color: #2E3468 !important; }

.platform-services .service-wrapper:last-child {
  background-color: #2E3468; }

.platform-services .service-wrapper:first-child {
  background-color: #7680B5; }

.platform-services .service.right {
  color: #fff; }

.site-footer {
  background-color: #2E3468; }

.platform-demo .video-holder .overlay .play-btn span {
  color: #CBD8F9; }

.hero-header.home {
  background-image: url(../img/header-home2.jpg) !important; }

.hero-header.bitcoin {
  background-image: url(../img/header-bitcoin-2.jpg); }

.hero-header.litecoin {
  background-position: center;
  background-image: url("../img/header-litecoin-2.jpg"); }

.hero-header.litecoin img {
  width: 10%; }

.page-header {
  background-image: url(../img/page-header-2.jpg); }
